.colorBlue{
	color: #31DACF;
}
.acima{
	display:inline-block;
    position:relative;
}
.sobre{
	position:absolute;
    z-index:1;
    top:85%;
    left:85%;            /* altura para o botão */
    padding:15px;
    margin: 0;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    background:#31DACF;
    color:white;
    outline: none;
}
.sobre:hover{
	color: #31DACF;
}
.colorGray{
    background:#F2F3F4;
}
.bordaBottom{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.bordaBottom:hover{
    border-bottom: 1px solid #17A589;
}

.abrirsub{
    display: none;
}

.abrirsub:hover{
    display: block;
}
.colorBlack{
    background: black;
}
.colorWhite{
    color: white;
    outline: none;
    text-align: center;
}

/*.toque:hover{
    color: #17A589;
}*/