.colorBlue{
    color: #31DACF;
}
.backgroundBlue{
    background: #17A589;
}
.escuroClaro{
    color:black;
    text-decoration: none;
    list-style-type: none;
}
.escuroClaro:hover{
    color: white;
    cursor: pointer;
}
.acima{
	display:inline-block;
    position:relative;
}
.sobre{
	position:absolute;
    z-index:1;
    top:85%;
    left:85%;            /* altura para o botão */
    padding:15px;
    margin: 0;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    background:#31DACF;
    color:white;
    outline: none;
}
.sobre:hover{
	color: #31DACF;
}
.colorGray{
    background:#F2F3F4;
}
.bordaBottom{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.bordaBottom:hover{
    border-bottom: 1px solid #17A589;
}

.abrirsub{
    display: none;
}

.abrirsub:hover{
    display: block;
}
.colorBla{
    color: black;
}
.colorBlack{
    background: black;
}
.colorWhite{
    color: white;
    outline: none;
    text-align: center;
}
.colorPink{
    background: #F1948A;
    color: #A93226;
}
.radius{
    border-radius: 100%;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.rounded-circle{
    margin: 15px;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
.mono{
    font-family: monospace;
    font-size: 16px;
}
.ladoLado{
    display: inline;
}
.padding{
    padding-top: 15px;
    padding-bottom: 15px; 
}
.margin{
    margin-bottom: 20px;  
}
.marginCB{ 
	margin-top: 20px;  
    margin-bottom: 20px;  
}
.negrito{
    font-weight: bold;
}
.cards{
	border:1px solid black;
	/*padding: 50px;*/
	height: 60px;
	width: auto;
	background: red;
}
/*.toque:hover{
    color: #17A589;
}*/